# Dependencies
node_modules/
**/node_modules/
.pnp
.pnp.js

# Production build output
dist/
**/dist/
build/
**/build/

# Archives
*.zip
*.rar
*.tar.gz
*.7z

# Environment variables & secrets
.env
.env.local
.env.*.local
**/.env
**/.env.local
**/.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

# Editor & OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
